:root {
  --white: #fff;
  --black: #222;
  --grey: #5D5D5D;
  --pink: #F16D7F;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  color: inherit;
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  display: block;
  height: 100%;
}

img {
  width: 100%;
  display: block;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

body {
  font-family: 'Lato', sans-serif;
  color: var(--black);
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 20px;
}

.header {
  background-color: var(--black);
  padding: 18px 0;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-left__list {
  display: flex;
  align-items: center;
  gap: 41px;
}

.menu-right__list {
  display: flex;
  align-items: center;
  gap: 33px;
}

.cart-counter {
  position: relative;
}

.cart-counter::after {
  position: absolute;
  content: "5";
  width: 19px;
  height: 19px;
  border-radius: 100%;
  color: var(--white);
  background-color: var(--pink);
  top: -10px;
  right: -10px;
  text-align: center;
  font-size: 12px;
  line-height: 19px;
}

.top {
  background-color: #F1E4E6;
  height: 764px;
}

.top__inner {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.top__img {
  width: auto;
  height: 764px;
}

.top__title {
  color: var(--black);
  font-size: 48px;
  font-weight: 900;
  margin-top: 290px;
  margin-right: 101px;
  padding-left: 16px;
  border-left: 12px solid var(--pink);
  flex-basis: 405px;
}

.top__title_small {
  font-size: 32px;
  font-weight: 700;
}

.top__title_small>span {
  color: var(--pink);
}

.offer {
  margin-top: 65px;
}

.offer__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 30px;
}

.offer__item_large {
  grid-column: span 3;
}

.offer__pic {
  background: rgb(33, 22, 22);
  /* overflow: hidden; */
  position: relative;
}

.offer__img {
  object-fit: cover;
  opacity: .3;
  transition: opacity .5s ease;
}

.offer__pic:hover .offer__img {
  opacity: 1;
}

.offer__title {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--pink);
  font-size: 24px;
  font-weight: 700;
}

.offer__title>span {
  color: var(--white);
  font-size: 16px;
  font-weight: 400;
}

.product {
  margin-top: 96px;
  margin-bottom: 60px;
}

.product__title {
  color: var(--black);
  font-size: 30px;
  font-weight: 400;
  text-align: center;
}

.product__text {
  color: #9F9F9F;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
}

.product__list {
  margin-top: 48px;
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.product__item {
  flex-basis: 360px;
}

.product__pic {
  background: rgb(58, 56, 56);
  position: relative;
}

.product__img {
  object-fit: cover;
  opacity: 1;
  transition: opacity .5s ease;
}



.product__add {
  width: 141px;
  height: 44px;
  border: 1px solid var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 11px;
  position: absolute;
  top: 188px;
  left: 111px;
  right: auto;
  bottom: auto;
  opacity: 0;
  transition: opacity .5s ease;
}

.product__add_img {
  width: 26px;
}

.product__add_text {
  color: var(--white);
}

.product__pic:hover .product__img {
  opacity: .24;
}

.product__pic:hover .product__add {
  opacity: 1;
}

.product__desc {
  padding: 24px 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;

}

.product__item-title {
  color: #000;
  font-size: 13px;
  font-weight: 400;
  text-align: left;
}

.product__item-text {
  text-align: left;
}

.product__item-price {
  color: var(--pink);
  font-size: 16px;
  font-weight: 400;
  text-align: left;
}

.product__all {
  width: 215px;
  margin: 48px auto 0;
  padding: 15px 39px;
  border: 1px solid #F26376;
  color: #F26376;
  font-size: 16px;
  font-weight: 400;
}

@media(max-width: 1024px) and (min-width: 768px) {
  .container {
    padding-left: 16px;
    padding-right: 16px;
  }

  .top {
    height: 368px;
  }

  .top__img {
    height: 368px;
  }

  .top__title {
    font-size: 44px;
    margin-top: 138px;
    margin-right: 34px;
    padding-left: 16px;
    flex-basis: 384px;
  }

  .top__title_small {
    font-size: 24px;
    font-weight: 700;
  }

  .offer__list {
    gap: 20px;
  }

  .product {
    margin-top: 110px;
    margin-bottom: 70px;
  }

  .product__list {
    margin-top: 73px;
    gap: 16px;
  }
}