* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  color: inherit;
  background-color: transparent;
  outline: none;
  border: none;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

img {
  width: 100%;
}

ul,
li {
  list-style-type: none;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #000;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
}

.advant {
  padding-top: 100px;
  padding-bottom: 100px;
}

.advant__list {
  display: flex;
  gap: 30px;
}

.advant__item {
  padding: 40px 30px 25px;
  flex-basis: 370px;
  background-color: #fff;
  transition: box-shadow .5s ease;
}

.advant__item:hover {
  box-shadow: 15px 25px 56px 6px rgba(0, 0, 0, 0.06);
}

.advant__icon {
  width: 70px;
  margin-bottom: 17px;
}

.sutitle {
  color: #000;
  font-size: 24px;
}

.advant__subtitle {
  margin-bottom: 17px;
}

.text {
  line-height: 1.5;
}

.advant__text {
  margin-bottom: 25px;
  color: #666;

}

.advant__link {
  color: #000;
  font-size: 11px;
  line-height: 1.5;
}

.main-blog {
  background: #FAFAFA;
  padding-top: 92px;
  padding-bottom: 100px;
}



.title {
  text-align: center;
  color: #000;
  font-size: 45px;
  margin-bottom: 19px;
}

.title__text {
  text-align: center;
  color: #666;
  font-size: 16px;
  line-height: 1.5;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 54px;
  max-width: 682px;
}

.main-blog__list {
  display: flex;
  gap: 30px;
}

.main-blog__item {
  flex-basis: 370px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #FFF;
  transition: box-shadow .5s ease;
}

.main-blog__item:hover {
  box-shadow: 15px 25px 60px -5px rgba(0, 0, 0, 0.10);
}

.main-blog__subtitle {
  margin-bottom: 22px;
}

.main-blog__text {
  margin-bottom: 39px;
  color: #aaa;
  max-width: 310px;
  text-align: center;
}

.arrow-img {
  width: 4px;
  margin-left: 6px;
}

.main-blog__link {
  color: #FFF;
  font-size: 13px;
  line-height: 150%;
  padding: 15px 26px 15px 46px;
  background-color: #F25822;
  border-radius: 50px;
  box-sizing: border-box;
  margin-bottom: 50px;
}